torch==2.3.1
pypdf==4.0.0
python-docx==0.8.11
extract-msg==0.45.0
python-pptx==0.6.21
striprtf==0.0.26
chardet==5.2.0
Pillow>=10.0.0
pillow-heif==0.14.0
openpyxl>=3.1.2
pandas>=2.0.3
tqdm==4.66.1
mutagen==1.47.0
numpy<2
